/*import*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* body */
/* media queries for back to top*/
/* LOADER */
html.js .loader {
  background: #000;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.loader_inner {
  position: absolute;
  top: 50%;
  left: 50%;
}

@-webkit-keyframes up {
  0%, 100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
}

@keyframes up {
  0%, 100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
}

@-webkit-keyframes down {
  0%, 100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}

@keyframes down {
  0%, 100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}

@-webkit-keyframes r-to-l {
  100% {
    margin-left: -1px;
  }
}

@keyframes r-to-l {
  100% {
    margin-left: -1px;
  }
}

body .pacman:before {
  content: '';
  position: absolute;
  background: #FFC107;
  width: 100px;
  height: 50px;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  border-radius: 50px 50px 0 0;
  -webkit-animation: up 0.4s infinite;
  animation: up 0.4s infinite;
}

body .pacman:after {
  content: '';
  position: absolute;
  background: #FFC107;
  width: 100px;
  height: 50px;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  border-radius: 50px 50px 0 0;
  -webkit-animation: up 0.4s infinite;
  animation: up 0.4s infinite;
  margin-top: -1px;
  border-radius: 0 0 50px 50px;
  -webkit-animation: down 0.4s infinite;
  animation: down 0.4s infinite;
}

body .dot {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  margin-left: 30px;
  border-radius: 50%;
  background: #ccc;
  z-index: -1;
  box-shadow: 30px 0 0 #ccc, 60px 0 0 #ccc, 90px 0 0 #ccc, 120px 0 0 #ccc, 150px 0 0 #ccc;
  -webkit-animation: r-to-l 0.4s infinite;
  animation: r-to-l 0.4s infinite;
}

/* end loader */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  cursor: pointer;
  color: #767676;
  text-decoration: none;
}

select, button {
  cursor: pointer;
}

select:focus, button:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  min-height: 100%;
}

/*content style begin*/
body {
  font-family: "ArimoRegular", Arial ,sans-serif;
  font-size: 16px;
  color: #767676;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  overflow-x: hidden;
}

/* header-style*/
.top-header {
  background-color: #f7f7f7;
  padding-top: 25px;
  padding-bottom: 13px;
}

.container {
  position: relative;
  max-width: 985px;
  margin: auto;
  padding: 0 10px;
}

.left-header_logo {
  width: 205px;
  float: left;
}

.logo-img {
  display: block;
}

.right-header {
  float: right;
  width: 295px;
}

.phone-list {
  float: left;
  margin-right: 15px;
}

.phone-link {
  display: inline-block;
  vertical-align: middle;
  color: #767676;
  font-size: 1.125em;
  font-weight: 400;
}

.btn-feedback {
  float: left;
  z-index: 1;
  position: relative;
  margin-top: 8px;
  display: block;
  width: 121px;
  text-transform: uppercase;
  background: #fff;
  color: #fff;
  padding: 8px 0;
  text-align: center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.btn-feedback:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #282c37;
  color: #fff;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.btn-feedback:hover {
  color: black;
}

.btn-feedback:hover:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}

/*modal*/
#popup {
  max-width: 466px;
  width: 100%;
  background: #fff;
  position: fixed;
  top: 10%;
  left: 33%;
  display: none;
  z-index: 999;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  -webkit-animation: animatezoom 1s;
  animation: animatezoom 1s;
}

.title-form {
  color: #535353;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

label {
  font-size: 0.875em;
  font-weight: 400;
  color: #535353;
}

label span {
  color: #c61015;
}

.allert {
  border: 1px solid #ff8383;
  box-shadow: inset 0 0 13px rgba(228, 106, 106, 0.75);
}

.form-group {
  margin-bottom: 20px;
}

form {
  padding-top: 30px;
  padding-bottom: 25px;
  width: 343px;
  margin: auto;
}

#name, #email, #tel {
  display: block;
  padding: 10px 5px;
  width: 341px;
  background-color: white;
  border: 1px solid #c3c3c3;
}

#message {
  display: block;
  width: 341px;
  resize: none;
}

.btn-submit {
  float: right;
  display: block;
  width: 128px;
  padding: 10px 0;
  border: none;
  background-color: #282c37;
  text-align: center;
  color: white;
  font-size: 1.125em;
  font-weight: 700;
  text-transform: uppercase;
}

#close {
  display: block;
  position: absolute;
  text-align: center;
  padding: 2px 5px;
  color: #000;
  background-color: #FFF;
  top: -28px;
  right: -21px;
}

#cover {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
  background: black;
  z-index: 998;
  display: none;
  cursor: pointer;
}

.lock {
  overflow: hidden;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* nav style*/
.main-nav {
  position: relative;
  background-color: #282c37;
  padding: 27px 0;
  text-align: center;
}

.list-item-menu {
  display: inline-block;
  vertical-align: middle;
  padding: 0 42px;
  border-right: 1px solid #424757;
}

.list-item-menu:last-of-type {
  border: none;
}

.link-item {
  position: relative;
  color: #fff;
  font-size: 0.9375em;
  font-weight: 400;
  text-transform: uppercase;
}

.link-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.link-item:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.icon-menu {
  display: none;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* slider*/
.main-slider {
  padding-bottom: 47px;
}

.owl-dots {
  position: absolute;
  bottom: 3%;
  left: 45%;
}

.owl-dot {
  display: inline-block;
  margin-right: 10px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 0.25;
  background-color: #282c37;
}

.owl-dot:last-child {
  margin: 0;
}

.active {
  background-color: white;
  opacity: 1;
}

.menu-products {
  padding-bottom: 28px;
}

.menu-products li {
  float: left;
  margin-right: 33px;
}

.menu-products li:last-child {
  margin: none;
}

.menu-products li a {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 600;
}

.link {
  color: #767676;
}

.active-menu-product {
  position: relative;
  color: #282c37;
}

.active-menu-product:after {
  content: "";
  position: absolute;
  right: -25px;
  top: 7px;
  border: 4px solid transparent;
  border-left: 4px solid #767676;
}

/* left-bar*/
.left-bar-menu {
  float: left;
  width: 206px;
}

.left-bar-list {
  padding-bottom: 61px;
}

.bar-item {
  position: relative;
  line-height: 30px;
}

.bar-link-sub {
  color: #282c37;
  font-size: 1em;
}

.sub-list {
  padding-left: 15px;
  padding-bottom: 15px;
}

.sub-list li {
  position: relative;
  font-size: 0.875em;
  line-height: 23px   .sub-list li;
}

.sub-list li :before {
  content: "";
  position: absolute;
  left: -7px;
  top: 6px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #767676;
}

.sub-list a {
  position: relative;
  font-size: 14px;
  transition: .3s;
}

.sub-list a:hover {
  padding-left: 5px;
}

.bar-link-active {
  color: #010101;
  font-size: 14px;
  text-decoration: underline;
}

.price-list {
  display: block;
  color: #282c37;
  font-size: 16px;
  font-weight: 700;
}

.price-list i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 14px;
  width: 42px;
  height: 40px;
  background: url("../img/price.png") no-repeat;
}

/* content-products*/
.content-products {
  float: left;
  width: 757px;
  padding-bottom: 83px;
}

.block-product {
  float: left;
  width: 242px;
  margin-right: 15px;
  margin-bottom: 17px;
}

.block-product:nth-child(3n+3) {
  margin-right: 0px;
}

.product-list {
  border: 1px solid #e4e4e4;
  border-bottom: none;
  padding: 15px;
  border-radius: 4px 4px 0 0;
}

.img-product {
  background: #F7F7F7;
}

.img-product img {
  padding-top: 54px;
  padding-left: 12px;
  padding-bottom: 37px;
  margin-left: 5px;
  transition: .5s;
}

.img-product img:hover {
  transform: scale(1.2);
}

.description-product {
  padding-top: 18px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
}

.price-product {
  position: relative;
  color: #444;
  font-size: 1.75em;
  font-weight: 700;
  border: 1px solid #e4e4e4;
  padding-left: 18px;
}

.basket-btn {
  margin-left: 65px;
}

.plagination {
  padding-top: 20px;
  padding-bottom: 37px;
  border-bottom: 1px solid #777777;
  text-align: center;
}

.plagination li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.plagination li a {
  color: #767676;
  font-size: 14px;
}

.plagination li .active-plag {
  color: #444;
  font-size: 18px;
}

.content-box {
  padding-top: 34px;
}

.left-box-txt, .right-box-txt {
  float: left;
  width: 360px;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 22px;
}

.left-box-txt {
  margin-right: 30px;
}

/* footer style*/
.main-footer {
  padding-top: 40px;
  border-top: 2px solid #eaeaea;
}

.left-footer {
  float: left;
}

.footer-menu {
  float: right;
}

.footer-menu li {
  float: left;
  margin-right: 47px;
}

.footer-menu li:last-child {
  margin: none;
}

.footer-menu li a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #4c5059;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.footer-menu li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.footer-menu li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*back to top*/
.cd-top {
  display: inline-block;
  height: 40px;
  z-index: 999;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(40, 44, 55, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.no-touch .cd-top:hover {
  background-color: #282c37;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
